/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-1px {
  height: 1px;
  width: 1px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-2px {
  height: 2px;
  width: 2px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-3px {
  height: 3px;
  width: 3px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-4px {
  height: 4px;
  width: 4px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-5px {
  height: 5px;
  width: 5px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-6px {
  height: 6px;
  width: 6px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-7px {
  height: 7px;
  width: 7px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-8px {
  height: 8px;
  width: 8px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-9px {
  height: 9px;
  width: 9px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-10px {
  height: 10px;
  width: 10px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-11px {
  height: 11px;
  width: 11px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-12px {
  height: 12px;
  width: 12px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-13px {
  height: 13px;
  width: 13px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-14px {
  height: 14px;
  width: 14px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-15px {
  height: 15px;
  width: 15px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-16px {
  height: 16px;
  width: 16px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-17px {
  height: 17px;
  width: 17px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-18px {
  height: 18px;
  width: 18px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-19px {
  height: 19px;
  width: 19px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-20px {
  height: 20px;
  width: 20px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-21px {
  height: 21px;
  width: 21px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-22px {
  height: 22px;
  width: 22px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-23px {
  height: 23px;
  width: 23px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-24px {
  height: 24px;
  width: 24px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-25px {
  height: 25px;
  width: 25px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-26px {
  height: 26px;
  width: 26px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-27px {
  height: 27px;
  width: 27px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-28px {
  height: 28px;
  width: 28px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-29px {
  height: 29px;
  width: 29px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-30px {
  height: 30px;
  width: 30px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-31px {
  height: 31px;
  width: 31px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-32px {
  height: 32px;
  width: 32px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-33px {
  height: 33px;
  width: 33px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-34px {
  height: 34px;
  width: 34px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-35px {
  height: 35px;
  width: 35px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-36px {
  height: 36px;
  width: 36px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-37px {
  height: 37px;
  width: 37px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-38px {
  height: 38px;
  width: 38px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-39px {
  height: 39px;
  width: 39px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-40px {
  height: 40px;
  width: 40px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-41px {
  height: 41px;
  width: 41px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-42px {
  height: 42px;
  width: 42px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-43px {
  height: 43px;
  width: 43px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-44px {
  height: 44px;
  width: 44px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-45px {
  height: 45px;
  width: 45px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-46px {
  height: 46px;
  width: 46px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-47px {
  height: 47px;
  width: 47px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-48px {
  height: 48px;
  width: 48px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-49px {
  height: 49px;
  width: 49px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-50px {
  height: 50px;
  width: 50px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-51px {
  height: 51px;
  width: 51px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-52px {
  height: 52px;
  width: 52px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-53px {
  height: 53px;
  width: 53px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-54px {
  height: 54px;
  width: 54px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-55px {
  height: 55px;
  width: 55px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-56px {
  height: 56px;
  width: 56px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-57px {
  height: 57px;
  width: 57px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-58px {
  height: 58px;
  width: 58px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-59px {
  height: 59px;
  width: 59px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-60px {
  height: 60px;
  width: 60px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-61px {
  height: 61px;
  width: 61px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-62px {
  height: 62px;
  width: 62px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-63px {
  height: 63px;
  width: 63px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-64px {
  height: 64px;
  width: 64px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-65px {
  height: 65px;
  width: 65px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-66px {
  height: 66px;
  width: 66px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-67px {
  height: 67px;
  width: 67px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-68px {
  height: 68px;
  width: 68px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-69px {
  height: 69px;
  width: 69px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-70px {
  height: 70px;
  width: 70px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-71px {
  height: 71px;
  width: 71px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-72px {
  height: 72px;
  width: 72px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-73px {
  height: 73px;
  width: 73px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-74px {
  height: 74px;
  width: 74px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-75px {
  height: 75px;
  width: 75px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-76px {
  height: 76px;
  width: 76px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-77px {
  height: 77px;
  width: 77px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-78px {
  height: 78px;
  width: 78px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-79px {
  height: 79px;
  width: 79px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-80px {
  height: 80px;
  width: 80px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-81px {
  height: 81px;
  width: 81px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-82px {
  height: 82px;
  width: 82px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-83px {
  height: 83px;
  width: 83px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-84px {
  height: 84px;
  width: 84px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-85px {
  height: 85px;
  width: 85px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-86px {
  height: 86px;
  width: 86px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-87px {
  height: 87px;
  width: 87px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-88px {
  height: 88px;
  width: 88px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-89px {
  height: 89px;
  width: 89px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-90px {
  height: 90px;
  width: 90px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-91px {
  height: 91px;
  width: 91px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-92px {
  height: 92px;
  width: 92px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-93px {
  height: 93px;
  width: 93px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-94px {
  height: 94px;
  width: 94px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-95px {
  height: 95px;
  width: 95px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-96px {
  height: 96px;
  width: 96px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-97px {
  height: 97px;
  width: 97px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-98px {
  height: 98px;
  width: 98px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-99px {
  height: 99px;
  width: 99px; }

/* 
    ************************  
    Icon Sizes
    ************************  
    */
.icon-100px {
  height: 100px;
  width: 100px; }
